<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Upload New File</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="file">Choose a file to upload:</label>
        <input type="file" name="file" id="file" onchange="imagePreview(event)">
        <input type="submit" value="Upload">
    </form>
    <div id="preview"></div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <form method="POST" enctype="multipart/form-data">
    
    </form>
</body>
</html>